@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  font-weight: 500;
}
.header-navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  height: 80px;
  flex-direction: flex;
}
.header-navigation a {
  text-decoration: none;
  color: var(--dark-color);
}
.header-navigation-list {
  display: flex;
  width: 286px;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
  margin-right: 313px;
}
.header-navigation-contacts {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-navigation-contacts-tel {
  margin-left: 30px;
  width: 142px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}
.header-navigation-contacts-tel-telephone {
  display: inline-block;
  width: 10px;
  height: 16px;
  background-image: url("/img/smartphone.svg");
  margin-right: 10px;
}
.header-navigation-contacts-email {
  width: 161px;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}
.header-navigation-contacts-email-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  background-image: url("/img/envelope.svg");
  margin-right: 10px;
}
.header-navigation-contacts-email-envelope:hover, .header-navigation-contacts-logo:focus {
  background-image: url("../img/envelopehover.svg");
}
.header-navigation-contacts-tel-telephone:hover, .header-navigation-contacts-logo:focus {
  background-image: url("../img/smartphonehover.svg");
}

.webstudio {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}
.webstudio-web {
  color: var(--button-color);
}
.webstudio-studio {
  color: var(--dark-color);
}

.header-link:hover::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid var(--button-color);
  transform: translateY(15px);
  border-radius: 2px;
}

.footer {
  background-color: var(--footer-color);
}
.footer-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1170px;
}
.footer-wrapper-left {
  width: 231px;
  text-align: left;
  padding-top: 60px;
}
.footer-wrapper-left-list {
  display: block;
  padding-top: 20px;
  width: 231px;
}
.footer-wrapper-left-list-item {
  color: var(--background-general);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-wrapper-left-list-item-email {
  color: var(--footer-contacts);
  padding-top: 9px;
}
.footer-wrapper-left-list-item-tel {
  color: var(--footer-contacts);
  padding-top: 9px;
  padding-bottom: 60px;
}
.footer-wrapper-join {
  width: 206px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-left: 70px;
}
.footer-wrapper-join-text {
  width: 116px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-general);
}
.footer-wrapper-join-logos {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}
.footer-wrapper-join-logos-logo {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-size: cover;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-wrapper-join-logos-instagram {
  background-image: url("../img/instagramfooter.svg");
}
.footer-wrapper-join-logos-twitter {
  background-image: url("../img/twitterfooter.svg");
}
.footer-wrapper-join-logos-facebook {
  background-image: url("../img/facebookfooter.svg");
}
.footer-wrapper-join-logos-linkedin {
  background-image: url("../img/linkedinfooter.svg");
}
.footer-wrapper-join-logos-instagram:hover, .footer-wrapper-join-logos-logo:focus {
  background-image: url("../img/instagramhover.svg");
}
.footer-wrapper-join-logos-twitter:hover, .footer-wrapper-join-logos-logo:focus {
  background-image: url("../img/twitterhover.svg");
}
.footer-wrapper-join-logos-facebook:hover, .footer-wrapper-join-logos-logo:focus {
  background-image: url("../img/facebookhoover.svg");
}
.footer-wrapper-join-logos-linkedin:hover, .footer-wrapper-join-logos-logo:focus {
  background-image: url("../img/linkedinhoover.svg");
}

.webstudio-logo-footer {
  color: var(--background-general);
}

:root {
  --footer-color: #2f303a;
  --header-color: #ececec;
  --background-general: #ffffff;
  --button-color: #2196f3;
  --background-team: #f5f4fa;
  --dark-color: #212121;
  --text-color: #757575;
  --footer-contacts: #ffffff99;
  --team-color: #2f303a66;
}

body {
  font-family: "Roboto";
  background-color: var(--background-general);
}

li {
  list-style-type: none;
}

a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

li a:hover {
  color: var(--button-color);
}

.main-title {
  height: 600px;
  width: 1600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  background-image: url("../img/team.webp");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.main-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--team-color);
  z-index: -1;
}

.main_banner-button {
  background-color: var(--button-color);
  color: var(--background-general);
  font-weight: 700;
  font-size: 16px;
  width: 212px;
  height: 50px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.main_banner-main_text {
  width: 696px;
  height: 120px;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-general);
  text-transform: uppercase;
}

.advantages-title_img,
.team-title {
  color: var(--dark-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.advantages-name {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.advantages-img_list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 94px;
  margin-top: 50px;
}

.advantages-attention,
.advantages-punctuality,
.advantages-planning,
.advantages-technologies {
  width: 270px;
}

.advantages-attention::before {
  content: "";
  background-image: url("../img/antenna.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-team);
  width: 270px;
  height: 120px;
  display: flex;
}

.advantages-punctuality::before {
  content: "";
  background-image: url("../img/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-team);
  width: 270px;
  height: 120px;
  display: flex;
}

.advantages-planning::before {
  content: "";
  background-image: url("../img/diagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-team);
  width: 270px;
  height: 120px;
  display: flex;
}

.advantages-technologies::before {
  content: "";
  background-image: url("../img/astronaut.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-team);
  width: 270px;
  height: 120px;
  display: flex;
}

.team {
  background-color: var(--background-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  height: 428px;
  background-color: var(--background-general);
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 16px;
}

.social-networks {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.teamlogo {
  cursor: pointer;
  width: 44px;
  height: 44px;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.teaminstagram {
  background: url("/img/instagramgrey.svg");
}

.teamtwitter {
  background: url("/img/twittergrey.svg");
}

.teamfacebook {
  background: url("/img/facebookgrey.svg");
}

.teamlinkedin {
  background: url("/img/linkedingrey.svg");
}

.teaminstagram:hover,
.teamlogo:focus {
  background-image: url("../img/instagramhover.svg");
}

.teamtwitter:hover,
.teamlogo:focus {
  background-image: url("../img/twitterhover.svg");
}

.teamfacebook:hover,
.teamlogo:focus {
  background-image: url("../img/facebookhoover.svg");
}

.teamlinkedin:hover,
.teamlogo:focus {
  background-image: url("../img/linkedinhoover.svg");
}

.team-image {
  padding-bottom: 30px;
}

.customers {
  height: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers__title {
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.customers__logos {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.clientsvg {
  width: 170px;
  height: 92px;
  cursor: pointer;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client1svg {
  background-image: url("/img/client1.svg");
}

.client2svg {
  background-image: url("/img/client2.svg");
}

.client3svg {
  background-image: url("/img/client3.svg");
}

.client4svg {
  background-image: url("/img/client4.svg");
}

.client5svg {
  background-image: url("/img/client5.svg");
}

.client6svg {
  background-image: url("/img/client6.svg");
}

.client1svg:hover,
.clientsvg:focus {
  background-image: url("../img/client1hover.svg");
}

.client2svg:hover,
.clientsvg:focus {
  background-image: url("../img/client2hover.svg");
}

.client3svg:hover,
.clientsvg:focus {
  background-image: url("../img/client3hover.svg");
}

.client4svg:hover,
.clientsvg:focus {
  background-image: url("../img/client4hover.svg");
}

.client5svg:hover,
.clientsvg:focus {
  background-image: url("../img/client5hover.svg");
}

.client6svg:hover,
.clientsvg:focus {
  background-image: url("../img/client6hover.svg");
}