@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "header";
@import "footer";

:root {
  --footer-color: #2f303a;
  --header-color: #ececec;
  --background-general: #ffffff;
  --button-color: #2196f3;
  --background-team: #f5f4fa;
  --dark-color: #212121;
  --text-color: #757575;
  --footer-contacts: #ffffff99;
  --item-border: #eeeeee;
}

body {
  font-family: "Roboto";
}

li {
  list-style-type: none;
}

.main-navigation {
  display: flex;
  width: 575px;
  height: 54px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 50px;
}

a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

li a:hover {
  color: var(--button-color);
}

.main-header {
  background-color: var(--footer-color);
  width: 1600px;
  height: 600px;
  top: 80px;
}

footer {
  background-color: var(--footer-color);
}

button {
  background-color: var(--background-team);
  width: 125px;
  height: 38px;
  top: 174px;
  left: 593px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-all {
  width: 73px;
}

.button-web_sites {
  width: 125px;
}

.button-addons {
  width: 112px;
}

.button-design {
  width: 103px;
}

.button-marketing {
  width: 130px;
}

button:hover {
  background-color: var(--button-color);
  color: var(--background-general);
  cursor: pointer;
}

li {
  border: var(--dark-color);
  border-width: 1px;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
  margin-left: 24px;
}

.main-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 1272px;
  align-content: space-between;
  margin-bottom: 94px;
}

.main-item {
  width: 370px;
  height: 404px;
  border-color: var(--item-border);
  border-width: 1px;
  border-style: solid;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.main-item:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
    cursor: pointer;
}


h5 {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;

  margin-left: 24px;
}


.main-item:hover::after {
  content: "The resource offers comprehensive offers with different levels of functionality and services. All this will allow the visitor to get comprehensive information about the company or private person.";
  position: absolute; /* Position the pseudo-element relative to the img */
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: #2196F3E5;
color: white;
  opacity: 1; /* Optional: add opacity if you want to see the image through the color */
  z-index: 1;
  text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.03em;
padding-top: 63px;

}